/* Fuente general */
body {
  background-color: #6b6b6b;
  margin: 0;
  font-family: "Lora", serif;
  color: #ffffff;
}

/* Logo centrado */
.header {
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 200px;      
  max-width: 90%;
  display: block;
  margin: 0 auto;    /* centrado horizontal */
}


.title {
  line-height:4rem;
  padding-inline: 2rem;
}

.main {
  padding: 2 rem
}

input {
  padding: 0,5rem;
  background-color: transparent;
  color: #333;
  border-color: #FFD700

}

