/* Fuente general */
body {
  background-color: #6b6b6b;
  margin: 0;
  font-family: "Lora", serif;
  color: #ffffff;
}


.header {
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 200px;      
  max-width: 90%;
  display: block;
  margin: 0 auto;    
}


.title {
  font-family: "Cinzel Decorative", serif;
  font-size: 32px;
  color: #e8d8ac; /* Dorado Hogwarts */
  margin: 0;
}


.main {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

/* FORMULARIO */
.label {
  display: block;
  font-weight: bold;
  color: #e8d8ac;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 2px solid #caa748; 
  background-color: #e8d8ac; 
  color: #333;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}


/* GRID DE PERSONAJES */

.characters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* SIEMPRE 3 columnas */
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}


.alive {
  color: #4caf50;
  font-weight: bold;
}

.dead {
  color: #e53935;
  font-weight: bold;
}

/* TARJETAS */

.character-card {
  background-color: #3b3b3b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.6);
}

/* Imagen dentro de la tarjeta */
.character-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

/* Nombre del personaje */
.character-info h3 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
  color: #e8d8ac;
}

/* Especie */
.character-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #ddd;
}

/*media queries*/

@media (max-width: 768px) {
  .characters-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 en móviles */
  }
}

@media (max-width: 480px) {
  .characters-grid {
    grid-template-columns: 1fr; /* 1 por fila en pantallas pequeñas */
  }
}