/* Fuente general */
body {
  background-color: #6b6b6b;
  margin: 0;
  font-family: "Lora", serif;
  color: #ffffff;
}


.header {
  text-align: center;
  padding-top: 20px;
}

.logo {
  width: 200px;      
  max-width: 90%;
  display: block;
  margin: 0 auto;    
}


.title {
  font-family: "Cinzel Decorative", serif;
  font-size: 32px;
  color: #e8d8ac; /* Dorado Hogwarts */
  margin: 0;
}


.main {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

/* FORMULARIO */
.label {
  display: block;
  font-weight: bold;
  color: #e8d8ac;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 2px solid #caa748; 
  background-color: #e8d8ac; 
  color: #333;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* GRID DEL LISTADO */
.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
}

.alive {
  color: #4caf50;
  font-weight: bold;
}

.dead {
  color: #e53935;
  font-weight: bold;
}